<!DOCTYPE html>
html(lang="en")
  include ./snippets/head.pug
  body.page-loading

    section
      i(class="material-icons md-30") cached
    
      h4.loading-title Loading your experience
    
      
      
    include ./snippets/script.pug
