.mdl-cell.mdl-cell--3-col.mdl-cell--2-col-tablet.mdl-cell--2-col-phone 
  .card-filtercard(for='checkbox-genre-name')
    label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect
      input#checkbox-genre-name.mdl-checkbox__input(type='checkbox', unchecked)
      span.mdl-checkbox__label Text Label
