input#actorFilterInput(type='text', placeholder='Start typing the name of an actor...')
ul#actorFilterUL
  li.actorLi.is-active.header.selected Selected:
  li.actorLi.header A
  li.actorLi.actorsName Adele
  li.actorLi.actorsName Agnes
  li.actorLi.header B
  li.actorLi.actorsName Billy
  li.actorLi.actorsName Bob
  li.actorLi.header C
  li.actorLi.actorsName Calvin
  li.actorLi.actorsName Christina
  li.actorLi.actorsName Cindy
