
.star-card.card-filtercard
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  
  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 

  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 

  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 

  i.starFilter-icon.mdl-icon-toggle__label.material-icons star 
  

.nstSlider#StarFilter(data-range_min='1', data-range_max='10', data-cur_min='3', data-cur_max='7')
  .bar
  .slide-grip.leftGrip
    #leftLabel.slide-label.leftLabel.starFilter-leftlabel
  .slide-grip.rightGrip
    #rightLabel.slide-label.rightLabel.starFilter-rightlabel
