.mediaFilters
  .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
    .mdl-tabs__tab-bar
      a.mdl-tabs__tab(href='#Genre-panel') 
        i.material-icons.md-30 movie_filter
      a.mdl-tabs__tab(href='#Age-panel') 
        i.material-icons.md-30 child_friendly
      a.mdl-tabs__tab(href='#Rating-panel') 
        i.material-icons.md-30 star_border
      a.mdl-tabs__tab(href='#Date-panel') 
        i.material-icons.md-30 date_range
      a.mdl-tabs__tab(href='#Actor-panel') 
        i.material-icons.md-30 perm_identity
      a#CloseFilters.mdl-tabs__tab.is-active(href='#Close-panel') 
        i.material-icons.md-30 expand_less
    
    
    #Genre-panel.mdl-tabs__panel.wrapper
    
      include ./filters-genre-range.pug
          
    #Age-panel.mdl-tabs__panel
      .mdl-grid.filter-grid
      
        include ./card-filtercard-checkbox.pug
            
    #Rating-panel.mdl-tabs__panel.wrapper
      include ./filters-starrating.pug 
       
          
    #Date-panel.mdl-tabs__panel.wrapper
      
      include ./filters-year-range.pug 
      
        
        
        
    #Actor-panel.mdl-tabs__panel
      .mdl-grid.filter-grid#wrapper
        include ./filters-actor-range.pug 
        
