.mediaFilters
  .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
    .mdl-tabs__tab-bar
      a.mdl-tabs__tab.is-active(href='#Genre-panel') 
        i.material-icons.md-30 notifications_none 
      a.mdl-tabs__tab(href='#Age-panel') 
        i.material-icons.md-30 child_friendly
      a.mdl-tabs__tab(href='#Rating-panel') 
        i.material-icons.md-30 star_border
      a.mdl-tabs__tab(href='#Date-panel') 
        i.material-icons.md-30 date_range
      a.mdl-tabs__tab(href='#Actor-panel') 
        i.material-icons.md-30 perm_identity
    #Genre-panel.mdl-tabs__panel.is-active
      ul
        li Eddard
        li Catelyn
    #Age-panel.mdl-tabs__panel
      ul
        li Tywin
        li Cersei
    #Rating-panel.mdl-tabs__panel
      ul
        li Viserys
        li Daenerys
    #Date-panel.mdl-tabs__panel
      ul
        li Viserys
        li Daenerys
    #Actor-panel.mdl-tabs__panel
      ul
        li Viserys
        li Daenerys
