.chart#YearChart
  .bargraph.yearFilterBar.bar(data-baryear="" )
  
.nstSlider#YearFilter(data-range_min='1940', data-range_max='2017', data-cur_min='1995', data-cur_max='2010')
  .bar
  .slide-grip.leftGrip
    #leftLabel.slide-label.leftLabel.yearFilter-leftLabel
  .slide-grip.rightGrip
    #rightLabel.slide-label.rightLabel.yearFilter-rightLabel
