input#genreFilterInput(type='text', placeholder='Start typing the name of an genre...')
ul#genreFilterUL
  li.genreLi.is-active.header.selected Selected:
  li.genreLi.header A
  li.genreLi.genreName Action
  li.genreLi.genreName Animation
  li.genreLi.header B
  li.genreLi.genreName Bollywood
  li.genreLi.header C
  li.genreLi.genreName Comedy
  li.genreLi.header D
  li.genreLi.genreName Documentary
