head
  title Currant - Content Portal Site 
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  
  link(rel="stylesheet", href="vendors/mdl/material.min.css")
  link(rel="stylesheet", href="vendors/nstSlider/jquery.nstSlider.css")
  link(rel="stylesheet", href="assets/css/main.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    
