.card.media-card
  img(src="https://s-media-cache-ak0.pinimg.com/736x/06/cb/33/06cb338efcf3ac37a90caad05fd356a2.jpg") 
  .details
    .heading-container
      a.thick The crew of a colony ship, bound for
    p The crew of a colony ship, bound for a remote planet, discover an uncharted paradise with a threat beyond their imagination, and must attempt a harrowing escape.
    .cta
      a(href="#")
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect View Details
      a(href="#")
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Transfer
