nav
  .right-nav
    .links
      
      i#Support-modal-selector(class="material-icons md-30") live_help
      .notifications
        i#Notifications-modal-selector.material-icons.md-30.mdl-badge.mdl-badge--overlap(data-badge="0") inbox
        .notification-container#Notifications-modal
          .notification-arrow
          div#card-container
            a(href="#")    
              card
                .avatar
                  img(src="http://fillmurray.com/200/300")
                  i.material-icons.md-22 notifications_none
                .details-container
                  span.notifications-label Notification label
                  span.notifications-caption Notification Description
              
              
        .notification-modal-overlay#Notification-modal-overlay
        
    .avatar#Account-modal-selector
      a(href="#")
        img(src="http://fillmurray.com/200/300")
      


  .back-links
    a(href="#")
      i(class="material-icons md-30") keyboard_backspace
    a(href="#")
      i(class="material-icons md-30") home
