nav#Home-card-Nav
  a(href="/movies.html")
    button.mdl-button.mdl-js-button.mdl-js-ripple-effect Movies
  a(href="/tvshows.html")
    button.mdl-button.mdl-js-button.mdl-js-ripple-effect TV Shows
  a(href="/my-content.html")
    button.mdl-button.mdl-js-button.mdl-js-ripple-effect My &nbsp; Content
  .dropdown-menu-container
    a#Nav-dropdown-selector 
      button.mdl-button.mdl-js-button.mdl-js-ripple-effect Request <i class="material-icons">arrow_drop_down</i>
    
    .dropdown-menu#Nav-dropdown
      a(href="/request-movie.html")
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Request Movie
      a(href="/request-tvshow.html")
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect Request TV Show
