.card.media-card
  position: relative
  box-shadow: 0px 2px 10px 0px rgba($brand-black,0.95)
  overflow: hidden
  border-radius: 2px
  &.no-details
    img
      margin-bottom: 0px
    details
      display: none
  img
    width: 100%
    margin-bottom: 36px
    z-index: -1
  .details
    padding: 0px
    position: absolute
    bottom: 0
    width: 100%
    box-sizing: border-box
    z-index: 2
    background-color: $brand-white
    box-shadow: 0px -1px 5px 0px rgba($brand-black,0.5)
    height: 36px
    transition: all 500ms ease
    .heading-container
      height: 36px
      display: flex
      align-items: center
      flex-wrap: nowrap
      white-space: nowrap
      padding: 0px 16px
      margin-right: 16px
      overflow: hidden

      a
        color: $brand-primary-black
        font-weight: bold
        flex: 1
    p
      padding-left: 16px
      padding-right: 16px

    .cta
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      button
        font-size: 12px
        @extend a

  &:hover
    .details
      height: auto


      .heading-container
        height: auto
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        word-wrap: normal
        padding: 8px 16px
        margin-right: 0px
        overflow: visible
        white-space: normal
